<div class="auction-details-feature">
  <!-- Use single async pipe to unwrap the entire view state -->
  <ng-container *ngIf="viewState$ | async as vm">
    <app-auction-details
      [soldLots]="vm.soldLots"
      [withdrawnLots]="vm.withdrawnLots"
      [totalBids]="vm.totalBids"
      [auctioneerBids]="vm.auctioneerBids"
      [dealerBids]="vm.dealerBids"
      [totalSoldValue]="vm.totalSoldValue"
      [totalReserveValue]="vm.totalReserveValue"
      [performance]="vm.performance">
    </app-auction-details>
  </ng-container>
</div>