<div class="sub-panel">
  <h4>Lot Controls</h4>
  
  <!-- Use single async pipe to unwrap the entire view state -->
  <ng-container *ngIf="viewState$ | async as vm">
    <div class="lot-controls">
      <div class="control-buttons">
        <button class="button" 
                (click)="onStartLot()" 
                [disabled]="!vm.canStartLot">
          Start lot
          <span class="shortcut-hint" *ngIf="vm.showShortcutsInUI">Alt+X</span>
        </button>
        <button class="button" 
                (click)="onMoveLot()" 
                [disabled]="!vm.canMoveLot">
          Move to Next Lot
          <span class="shortcut-hint" *ngIf="vm.showShortcutsInUI">Alt+X</span>
        </button>
        <button class="button" 
                (click)="onNoSale()" 
                [disabled]="!vm.canNoSale">
          No Sale
        </button>
        <button class="button" 
                [class.button-withdraw]="withdrawCountdownActive"
                (click)="onWithdrawLot()" 
                [disabled]="!vm.canWithdraw">
          {{ withdrawCountdownActive ? 'Cancel Withdraw' : 'Withdraw Lot' }}
        </button>
      </div>
      <button class="button" 
              style="width: 100%" 
              (click)="onMarkAsSold()"
              [disabled]="!vm.canMarkAsSold">
        Mark as Sold
      </button>
      <div class="timer" [ngClass]="vm.timerClass">
        <span>{{ vm.statusText }}</span><span *ngIf="dots.length > 0" class="dots-animation">{{ dots }}</span>
      </div>
      <button class="button hammer-button" 
              (click)="startHammerSequence()" 
              [disabled]="!vm.canUseHammer">
        <i class="ri-hammer-line"></i> Hammer
        <span class="shortcut-hint" *ngIf="vm.showShortcutsInUI">Alt+H</span>
      </button>
    </div>
  </ng-container>
  
  <!-- Custom Confirmation Dialog -->
  <app-confirmation-dialog
    [isOpen]="showConfirmationDialog"
    [title]="confirmationDialogTitle"
    [message]="confirmationDialogMessage"
    [contextInfo]="confirmationDialogContext"
    (dialogConfirm)="handleConfirm()"
    (dialogCancel)="closeConfirmationDialog()">
  </app-confirmation-dialog>
</div>